<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "./partials/head.html" %}
    <title>Home</title>
</head>
<body>
        <!-- include navbar from partials -->
        {% include "./partials/nav.html" %}

        <h1>Dynamic Content</h1>
        <div class="timeblock">
            <h3>Server Time</h3>
            <h4 id="serverTime"> {{serverTime}}</h4>
        </div>

        <div class="timeBlock">
            <h3>Browser Time</h3>
            <h4 id="browserTime"></h4>

        </div>
    
        <!-- Load common CSS and JS -->
        {% include "./partials/dependencies.html" %}

        <script src="static/js/browserTime.js"></script>
</body>
</html>